.main{
    display: flex;
    justify-content: center;
    background-color: rgb(25, 27, 27);
}

.nft-grid-container{
    width: 78%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}
